.popup {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, min-content);
    gap: 8px;
}

@media screen and (max-width: 520px) {
    .popup{
        gap: 16px;
    }
}