.popup__subtitle {
    grid-column: -3;
    margin: -6px 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

@media screen and (max-width: 520px) {
    .popup__subtitle {
      grid-column: -4;
    }
}