.profile__info {
    display: grid;
    margin: 22px 0 25px 30px;
    gap: 8px 18px;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    grid-template-areas:
    "name edit_bttn"
    "desc desc";
}
@media screen and (max-width: 704px) {
    .profile__info {
        margin: 26px auto;
        padding-left: 30px;
        grid-template-areas:
        "name edit_bttn"
        "desc edit_bttn";
        gap: 14px 10px;
        transition: .2s ease-in-out;
    }
}