.popup__input {
    width: 100%;
    padding: 0;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.popup__input:focus {
    outline: none;
}

.popup__input:nth-last-child(2) {
    margin-top: 30px;
}