.popups {
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms, opacity 400ms ease-in-out;
    
}