.profile {
    margin: 40px 0 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 704px) {
    .profile {
        margin: 42px 19px 36px;
        flex-direction: column;
        gap: 0;
        justify-content: start;
    }
}