.header__logo {
    height: 33px;
    transition: height .6s ease-in-out;
    margin-bottom: 41px;
}

@media screen and (max-width: 704px) {
    .header__logo {
        margin-left: 27px;
        height: 24.4px;
        margin-bottom: 31.6px;
    }
}