.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 20px 17px;
    justify-content: center;
    transition: .3s ease-in-out;
}

@media screen and (min-width:600px) and (max-width: 918px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
    }
}