.footer__about {
    margin: 0;
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
@media screen and (max-width: 704px) {
    .footer__about {
        margin: 48px 0 36px;
        font-size: 14px;
        line-height: 17px;
    }
}