.popup__container {
    grid-column: -3;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    min-width: 430px;
    margin: auto;
}

@media screen and (max-width: 520px) {
    .popup__container {
        grid-column: -3 /-1;
        min-width: 282px;
    }
}