.popup__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 34px 36px 37px;
}

@media screen and (max-width: 520px) {
    .popup__form {
        margin: 25px 22px;
    }
}