.card__trash {
    margin: 0;
    padding: 0;
    height: 19px;
    width: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    background-image: url(../../../images/trash_icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.card__trash:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity 200ms ease-in-out;
} 